/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Generated sqlite3 database
spec/internal/db/*.sqlite*

# Appraisal lockfiles
gemfiles/*.lock
