class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    change_table :users do |t|
      t.boolean :verified, null: false, default: false, index: true
    end
  end
end
