class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :sessions, id: :<%= primary_key_type %> do |t|
      t.references :user, null: false, foreign_key: true, type: :<%= foreign_key_type %>
      t.string :token, null: false, index: {unique: true}
      t.string :user_agent
      t.string :ip_address

      t.timestamps
    end
  end
end
