<% if authenticated? -%>
  <p>Signed in</p>
  <p>Hello <%= Current.user.email_address %></p>
  <%= button_to "Sign out", session_path, method: :delete %>
<% else -%>
  <p>Signed out</p>
  <p><%= link_to "Sign in", new_session_path %></p>
<% end -%>
