<div>
  <%= form.label :email %>
  <%= form.email_field :email, autofocus: true, autocomplete: "email", required: true %>
</div>
<div>
  <%= form.label :password %>
  <%= form.password_field :password, autocomplete: "current-password", required: true %>
</div>
