<h2>
  Sessions
</h2>

<div>
  <table id="sessions">
    <thead>
      <tr>
        <th scope="col">User Agent</th>
        <th scope="col">IP Address</th>
        <th scope="col">Created</th>
        <th scope="col">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @sessions %>
    </tbody>
  </table>
</div>
