<h2>
  Activity Log
</h2>

<table id="events">
  <thead>
    <tr>
      <th scope="col">User Agent</th>
      <th scope="col">Action</th>
      <th scope="col">IP Address</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <%= render @events %>
  </tbody>
</table>
