<h2>
  Change your email address
</h2>

<% if Current.user.verified? %>
  <p>Your email address is verified.</p>
<% else %>
  <p>Your email address is not verified. Check your email and follow the instructions to confirm it's your email address.</p>
  <p><%= button_to "Re-send verification email", verifications_path %></p>
<% end %>

<%= form_with model: @user, url: email_path, method: :patch do |form| %>
  <%= render form %>
  <%= form.button "Submit", name: nil %>
<% end %>
